$front_color: #00c687;
$back_color: #baecd4;
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
h1, h2, h3, p {
  font-family: 'PT Sans'
}
.header {
  height: 10vh;
  width: 100vw;
  background-color: $front_color;
  margin: 0;
  color: white;
  border-radius: 0;
  padding: 1%;
}

#chooseView {
  background: none;
  border: 3px solid $front_color;
  margin: 12px;
  color: $front_color;
  width: 30%;
  height: 100px;
  font-size: 28px;
  box-shadow: 4px 4px 18px 0px #e7e7e7;
}

input[type="submit"]:active {
  background-color: #00c687;
  color: white;
}

input, textarea {
  height: 50px;
  min-width: 60%; max-width: 60%;
  border-width: 1px;
  font-size: 14px;
  padding: 10px;
  @extend #chooseView;
}

@keyframes sub {
  0% { background-color: $front_color; }
  /* 50% { background-color: #0788c0; } */
  80% { background-color: $front_color; }
  98% {background-color: white; }
}
#submitNewPatient {
  float: left;
  width: 75%;
  .submitSuccess {
    color: white;
    animation: sub 2s linear;
  }
}

#patientListContainer {
  float: left;
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
  border-left: 1px solid $front_color;
  border-radius: 0;
  box-shadow: -1px 0px 28px #e7e7e7;

  #patientListItem {
    @extend #chooseView;
    width: 90%;
    border-width: 1px;
    border-right-width: 4px;
    height: 60px;
    div {
      float: left;
      width: 70%;
      p {
        font-size: 14px;
        margin: 16px;
      }
    }
    div:nth-child(2) {
      background-color: $front_color;
      color: white;
      height: 100%;
      width: 30%;
      margin: 0;
      border-radius: 0;
      box-shadow: -2px 0px 0px #e7e7e7;
      p {
        font-size: 14px;
      }
    }
  }
}
#modal {
  position: absolute;
  width: 50vw;
  height: 45vh;
  top: 22vh;
  left: 25vw;
  background-color: white;
  z-index: 1000;
  text-align: left;
  overflow-y: scroll;
  p {
    font-size: 14px;
    margin: 4px 0 0 16px;
    white-space: pre-wrap;
  }
  img {
    width: 48px;
    margin: 10px;
    float: left;
  }
  button {
    background-color: $front_color;
    color: white;
    height: 36px;
    width: 36px;
    border-radius: 90px;
    margin: 19px 8px;
    border: none;
  }
}
#modal-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.55;
  background-color: black;
}

#doctorListContainer {
  min-width: 100vw;
  min-height: 80vh;
  margin: 10vh 0 0 0vw;
  overflow-x: scroll;
  td {
    min-width: 20vw;
    max-width: 20vw;
    padding: 5px;
    opacity: 0.4;
  }
  td:hover {
    opacity: 1;
  }
  td:first-of-type { 
    opacity: 1 !important;
  }
  label {
    color: $front_color;
    float: left;
    margin-left: 20px;
  }
}
#doctorListItem {
  width: 100%;
  height: 45vh;
  margin: 12px;
  float: left;
  img {
    width: 100%;
    z-index: 1;
    border-radius: 0;
    /* border-bottom: 6px solid $front_color; */
  }
  p {
    font-size: 14px;
    margin: 12px;
    float: left;
  }
  #dContainer {
    width: 100%;
    height: 50%;
    @extend #chooseView;
    border-top: none;
    border-width: 1.5px;
    border-radius: 0;
    margin: 0;
    z-index: 1000;
    margin-top: -5px;
  }
  #dView {
    width: 80%;
    height: 100%;
    float: left;
  }
  #dAction {
    background-color: $front_color;
    color: white;
    height: 100%;
    width: 20%;
    z-index: 1000;
    border-radius: 0;
    float: right;
  }
  button {
    width: 100%;
    height: 50%;
    background: none;
    color: white;
    border: none;
    border-radius: 0;
    margin: 0;
    font-size: 36px;
  }
  button:first-of-type {
    border-bottom: 1px solid white;
  }
  button:hover {
    background-color: #06b07a;
  }
}

@media screen and (max-width: 700px) {
  body {
    overflow-y: scroll;
  }
  #chooseView {
    width: 80vw;
  }
  #patientListContainer {
    width: 100vw;
  }
  #submitNewPatient {
    width: 100vw;
  }
  #doctorListContainer {
    td {
      min-width: 80vw;
      max-width: 80vw;
    }
  }
  #modal {
    width: 95vw;
    height: 85vh;
    top: 7vh;
    left: 1.5vh;
  }
}